

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sch dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sch.util.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="container">
        <!-- White Header -->
        <header class="header-white">
            <div class="logo">
                <img src="/img/dtc.png" alt="DTC Emblem">
                <h1 id="dtc">DTC Sahayak</h1>
            </div>
            <div class="government-logos">
                <img src="/img/emblem.png" alt="Indian Government">
                <img src="/img/india.png" alt="Indian Flag">
                <img src="/img/azadi1.png" alt="Azadi Ka Amrit Mahotsav">
            </div>
        </header>

        <!-- Yellow Sub-Header -->
        <header class="header-yellow">
            <div class="profile-info">
                <a href="/api/v1/users/sch/profile"><span class="profile-icon"><img src="/img/user.png" alt="user" height="40px" ></a></span>
                <span class="schedular-id">Schedular #ID</span>
            </div>
            <div class="logout-time">
                <span id="datetime"></span>
                <span>
                    <!-- Anchor tag for logout with the icon -->
                  <a href="/api/v1/users/login" class="logout-link">
                        <i class="material-icons logout-icon">logout</i> <!-- Material icon for logout -->
                    </a> <!-- Material icon for logout -->
                    </a>
                </span>

            </div>
        </header>

        <div class="main-content">
            <!-- Sidebar Navigation -->
            <nav class="sidebar">
                <ul>
                    <li><a href="/api/v1/users/sch/dashboard" class="active">Dashboard</a></li>
                    <li><a href="/api/v1/users/sch/linked">Linked/Unlinked</a></li>
                    <li><a href="/api/v1/users/sch/routestatus">Route Status</a></li>
                    <li><a href="/api/v1/users/sch/scheduleduty">Schedule Duty</a></li>
                    <li><a href="/api/v1/users/sch/scheduledtrips">Scheduled Trips</a></li>
                    <li><a href="/api/v1/users/sch/crew">Crew Availability</a></li>
                </ul>
            </nav>

        
        </div>
    </div>
    <script src="/js/datetime.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
