/* Content container */
.content {
    padding: 20px;
}

/* Section title */
.section-title {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Filter Section Styling */
.filter-section {
    margin-bottom: 20px;
}

.dropdown {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background: linear-gradient(to right, #ffcc80, #ffab40);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.search-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Employee Table Styling */
.employee-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.employee-table th, .employee-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.employee-table thead {
    background-color: #e0e7ff;
    color: black;
}

.employee-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
